name: Build docker image

on: [push]

env:
  SERVICE_NAME: space-shiny

jobs:

  build: 
   runs-on: ubuntu-latest
   env:
      IMAGE_NAME: babynames
     
   permissions:
      packages: write

   steps:
      - uses: actions/checkout@v4

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Log into ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build docker container      
        run: docker build -t ghcr.io/${{ github.actor }}/$IMAGE_NAME:latest . 

      - name: Push the image to the GitHub Container Registry
        run: docker pull ghcr.io/${{ github.repository }}:${{ github.sha }}
  

